@import "~bootstrap/scss/bootstrap";

.invalid {
	border-color: red;
}

.invalid:focus {
	border-color: red;
    box-shadow: 0 0 10px red;
}

.btn-launch-modal {
	margin-left: 10px;
	float: right;
}

.article-link {
	float: left;
}